header {
  display: flex;
  justify-content: space-between;
  height: 10dvh;
}

#header-logo-container {
  height: 100%;
}

#header-logo-container img {
  height: 100%;
}

#header-menu-container {
  width: 60%;
  height: 100%;
}

#header-menu-container .nav-bar {
  display: flex;
  align-items: center;
  height: 100%;
}

#header-menu-container .nav-bar .list-nav-bar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

#header-menu-container .nav-bar .list-nav-bar .element .link-element {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}

.active {
  background: #D9D9D9;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Variant */
.dark .element .link-element {
  color: white !important;
}

.dark .active {
  background: #505050;
}

#header-menu-container-mobile {
  display: none;
  font-size: 40px;
}

/* Responsive */

@media (max-width: 1200px) {
  #header-menu-container {
    display: none;
  }

  #header-menu-container-mobile {
    display: flex;
    align-items: center;
  }

  .icon-menu-mobile {
    cursor: pointer;
    color: var(--primary-color);
    border: 1px solid black;
  }

  .list-nav-bar {
    position: absolute;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    top: calc(10dvh - 40px);
    right: 1dvw;
    width: 40%;
    aspect-ratio: 2 / 1;
    height: auto;
    flex-wrap: wrap;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    z-index: 3;
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .element {
    text-align: center;
    width: 200px;
  }

  .link-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    font-size: 0.9rem;
    text-decoration: none;
  }

  .link-element .icon-mobile {
    font-size: 4rem;
  }
}